

/*navigation */

#navbar {
    flex-direction: column;
}


/*Home sections  */

#home {
    height: 600px;

}

#home::before {
    height: 450;
}

#home p {
    font-size: 25px;
}

}

/* services*/

#services {
    flex-direction: column;
}

#services .box {}


/* clients section */


/* contact us */


/* Footer */


/* ultility classes */

.hideline {
    font-size: 30px;
}