/*CSS Reset*/

* {
    margin: 0;
    padding: 0;
}


/*CSS Veriables*/

:root {
    --navbar-height: 59;
}


/*navigation bar*/

#navbar {
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}

#navbar::before {
    content: ' ';
    background-color: black;
    position: absolute;
    height: 150%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.4;
}


/* navigation bar:Logo and Image*/

#logo {
    margin: 10px 16px;
}

#logo img {
    height: 50px;
    margin: 13px 14px;
    border-radius: 118px;
    background-color: blanchedalmond;
}


/* navigation bar:List Styling*/

#navbar ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    padding: 10px 23px;
    display: block;
    border-radius: 20px;
    text-decoration: none;
    color: rgb(245, 245, 245);
}

#navbar ul li a:hover {
    background-color: blanchedalmond;
    color: black;
}


/*home section*/

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 620px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: '';
    background: url('../css/img/HealthyEating_0621.jpg');
    position: absolute;
    top: 0px;
    left: 0px;
    height: 730px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: bree serif, serif;
}

#home p {
    color: white;
    font-size: 1.5rem;
    font-family: bree serif, serif;
}


/*Service Section*/

#services {
    margin: 50px;
    display: flex;
}

#services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 25px 24px;
    border-radius: 50px;
    background-color: rgb(252, 249, 249);
}

#services .box img {
    height: 160px;
    margin: auto;
    display: block;
}

#services .box p {
    ont-family: 'Baloo Bhai 2', cursive;
}


/*Client Section*/

.client-section {
    height: 10px;
}

.client-section::before {
    content: '';
    position: absolute;
    background: url(../css/img/fff2.jpg);
    height: 50%;
    width: 100%;
    z-index: -1;
    opacity: 0.2;
}

.client-item {
    padding: 10px;
}

#Clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Clients img {
    height: 125px;
}


/*Contact section*/

#contact {}

#contact::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    background: url(../css/img/contact.jpg) no-repeat center center/cover;
}

footer {
    background: black;
    color: white;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.2rem;
    border-radius: 9px;
    font-size: 1.5rem;
}

#contact-box form {
    width: 50%;
}

#contact-box label {
    font-size: 1.4rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* ultility classes*/

.hideline-center {
    font-size: 2.8rem;
    padding: 120;
    display: block;
    text-align: center;
    margin-bottom: -20px;
    margin-top: 20px;
    font-family: 'Baloo Bhai 2', cursive;
}

.h-secondery-center {
    font-size: 1.2rem;
    padding: 25px;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
}

.h-secondery-centers {
    text-align: center;
    padding: 50px;
    font-size: 3.4rem;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(216, 18, 61);
    color: white;
    margin: 17px;
    font-size: 2.3rem;
    border-radius: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(166, 228, 22);
    color: black;
}

.center {
    text-align: center;
}